<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Lessons</title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="subjects.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="app">
        <header>
            <nav class="navbar navbar-expand-lg navbar-custom">
                <div class="container">
                    <a class="navbar-brand">
                        <h3 v-text="sitename"></h3>
                    </a>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div id="sort-bar">
                    <select name="sortBy" id="select" v-model="sortBy">
                        <option value="subject">Subject</option>
                        <option value="location">Location</option>
                        <option value="price">Price</option>
                        <option value="availability">Availability</option>
                    </select>
                    <button v-on:click="ascending = !ascending" class="sort-button">
                        <i v-if="ascending" class="fa fa-sort-up"></i>
                        <i v-else class="fa fa-sort-down"></i>
                    </button>

                </div>

                    <div class="container-fluid  my-4 p-3" style="position: relative;">
                        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-3">
                            <div class="col" v-for="subject in sortedSubjects" :key="subject">
                                <div class="card h-100 shadow-sm">
                                    <figure>
                                        <img class="card-img" v-bind:src="subject.image" width="200" height="200">
                                    </figure>
                                    <div class="card-body">
                                        <h2 v-text="subject.title"></h2>
                                        <ul>
                                            <li><strong>Location: </strong> {{ subject.location }}</li>
                                            <li><strong>Timings: </strong> {{ subject.timings }}</li>
                                            <li><strong>Price: </strong>AED {{subject.price}}</li>
                                            <li><strong>Spaces: </strong>{{ subject.availableSpace }}</li>
                                        </ul>                                 
                                        <div>
                                            <span v-for="n in subject.rating">★</span>
                                            <span v-for="n in 5- subject.rating">☆</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </main>
    </div>
<script src="js/app.js"></script>
</body>
</html>